<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
      <title>Cheese is currently being ordered</title>
       <meta charset="UTF-8" />
        <link type="text/css" href="css/styles.css" rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
   <h1>Cheese is currently being ordered</h1>
   
   <p>Cheese is currently being ordered, so delete is not possible at this moment.</p>
   
    <a href="/main">Go back to Main page.</a>
    <br></br>
    <br></br>
    <a href="/cheese">Go to Cheese page.</a>
</body>
</html> 