<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <title th:text="${title}">Title</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1 th:text="${title}">Default Title</h1>

        <form method="post" th:object="${account}">
            <table>
                <tr>
                    <td>Password</td>
                    <td><input type="text" th:field="*{password}" /></td>
                    <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td>
                </tr>
                <tr>
                    <td>AccountStatus</td>
                    <td><input type="number" th:field="*{accountStatus}" /></td>
                    <td th:if="${#fields.hasErrors('accountStatus')}" th:errors="*{accountStatus}">AccountStatus Error</td>
                </tr>  
                <tr>
                    <td><button type="submit">Submit</button></td>
                    <td><button type="reset">Reset</button></td>
                </tr>
            </table>
        </form>
        <button onclick="goBack()">Go Back</button>
        <script>
            function goBack() {
                window.history.back();
            }
        </script>
    </body>
</html>