<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <title th:text="${title}">Account</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1 th:text="${title}">Default Title</h1>
        <a href="/client">Clients</a>
        <a href="/cheese">Cheeses</a>
        <a href="/address">Addresses</a>
        <a href="/addresstype">AddressTypes</a>
        <a href="/account">Accounts</a>
        <a href="/order">Orders</a><br></br>
        <a href="/account/add">Add Account</a>

        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
                padding: 5px;
                text-align: left;
            </style>
            <table style="width:80%">

                    <tr>
                       <th>Id</th>
                       <th>UserName</th>
                        <th>Password</th>
                        <th>Status</th>
                        <th>Add Client</th>
                         <th>View</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>

                    <tr th:each="account : ${accounts}">
                        <td th:text="${account.accountID}"></td>
                         <td th:text="${account.username}"></td>
                        <td th:text="${account.password}"></td>
                        <td th:text="${account.accountStatus}"></td>
                        <td><a th:href="${'/client/add/' + account.accountID}">Add Client</a></td>
                        <td><a th:href="${'/account/' + account.accountID}">View</a></td>
                        <td><a th:href="${'/account/edit/' + account.accountID}">Edit</a></td>
                        <td><a th:href="${'/account/remove/' + account.accountID}">Delete</a></td>
                    </tr>

                </table>


            </body>
        </html>
