<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <title th:text="${title}">Title</title>
        <meta charset="UTF-8" />
        <link type="text/css" href="css/styles.css" rel="stylesheet" th:href="@{/css/styles.css}"/>
    </head>
    <body>
        <ul>
            <li><a href="/main">Home</a></li>
            <li><a href="/clientclient">Client Information</a></li>
            <li><a href="/clientcheese">Cheeses</a></li>
            <li><a href="/clientaddress">Your Addresses</a></li>
            <li><a href="/clientaccount">Account Information</a></li>
            <li><a href="/clientorder">Orders</a></li>
            <li><a href="/adminmain">Admin</a></li>
            <li style="background:navy;"><a href="/account/add">Add Account</a></li>
            <li style="background:darkgoldenrod;"><a href="/security/login">Login</a></li>
            <li style="background:darkred;"><a th:href="@{/app-logout}">Logout</a></li>
        </ul>
        <h1 th:text="${title}">Default Title</h1>
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
                padding: 5px;
                text-align: left;
            </style>

            <table style="width:80%">

                    <tr>
                        <th>AccountID</th>
                        <th>UserName</th>
                        <th>Password</th>
                        <th>Role</th>
                    </tr>
                    <tr th:each="account : ${account}">
                        <td th:text="${account.accountID}"></td>
                        <td th:text="${account.username}"></td>
                        <td th:text="${account.password}"></td>
                        <td th:text="${account.theRole}"></td>

                    </tr>
                </table>
                <form method="POST">
                    <p>Are you sure you want to delete this Account?</p>
                    <button type="submit">Submit</button>
                </form>
            </body>
        </html>