<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <title th:text="${title}">Cheese</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1 th:text="${title}">Default Title</h1>
        <a href="/client">Clients</a>
        <a href="/cheese">Cheeses</a>
        <a href="/address">Addresses</a>
        <a href="/addresstype">AddressTypes</a>
        <a href="/account">Accounts</a>
        <a href="/order">Orders</a><br></br>
        <a href="/cheese/add">Add Cheese</a>

        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
                padding: 5px;
                text-align: left;
            </style>
            <table style="width:80%">

                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Stock</th>
                        <th>View</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>

                    <tr th:each="cheese : ${cheeses}">
                        <td th:text="${cheese.cheeseID}"></td>
                        <td th:text="${cheese.cheeseName}"></td>
                        <td th:text="${cheese.price}"></td>
                        <td th:text="${cheese.stock}"></td>
                        <td><a th:href="${'/cheese/' + cheese.cheeseID}">View</a></td>
                        <td><a th:href="${'/cheese/edit/' + cheese.cheeseID}">Edit</a></td>
                        <td><a th:href="${'/cheese/remove/' + cheese.cheeseID}">Delete</a></td>
                    </tr>

                </table>


            </body>
        </html>
