<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <title th:text="${title}">Title</title>
        <meta charset="UTF-8" />
        <link type="text/css" href="css/styles.css" rel="stylesheet" th:href="@{/css/styles.css}"/>
    </head>
    <body>
        <ul>
            <li><a href="/main">Home</a></li>
            <li><a href="/clientclient">Client Information</a></li>
            <li><a href="/clientcheese">Cheeses</a></li>
            <li><a href="/clientaddress">Your Addresses</a></li>
            <li><a href="/clientaccount">Account Information</a></li>
            <li><a href="/clientorder">Orders</a></li>
            <li><a href="/adminmain">Admin</a></li>
            <li style="background:navy;"><a href="/account/add">Add Account</a></li>
            <li style="background:darkgoldenrod;"><a href="/security/login">Login</a></li>
            <li style="background:darkred;"><a th:href="@{/app-logout}">Logout</a></li>
        </ul>
        <h1 th:text="${title}">Default Title</h1>
        <p> For which client do you want to add a new Order?</p>
        <form method="post" th:object="${orders}">
            <table>
                <tr>
                    <td>ClientID</td>
                    <td>
                        <select name="clientID">
                            <option th:each="client : ${clients}"
                                    th:text="${client.clientID}"
                                    th:value="${client.clientID}"></option>
                        </select>   
                    </td>
                </tr>
                <tr>
                    <td><button type="submit">Submit</button></td>
                    <td><button type="reset">Reset</button></td>
                </tr>
            </table>
        </form>
        <br>
        </br>

        <button onclick="goBack()">Go Back</button>
        <script>
            function goBack() {
                window.history.back();
            }
        </script>
    </body>
</html>