<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <title th:text="${title}">Order</title>
        <meta charset="UTF-8" />
        <link type="text/css" href="css/styles.css" rel="stylesheet" th:href="@{/css/styles.css}"/>
    </head>
    <body>
        <h1 th:text="${title}">Default Title</h1>
        <a href="/client">Clients</a>
        <a href="/cheese">Cheeses</a>
        <a href="/address">Addresses</a>
        <a href="/addresstype">AddressTypes</a>
        <a href="/account">Accounts</a>
        <a href="/order">Orders</a><br></br>
        <a href="/order/add">Add Order</a>

        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
                padding: 5px;
                text-align: left;
            </style>
            <table style="width:80%">

                    <tr>
                        <th>Id</th>
                        <th>Order Date</th>
                        <th>Processed Date</th>
                        <th>Total Price</th>
                        <th>ClientID</th>
                        <th>Add</th>
                        <th>View</th>
                        <th>Delete</th>
                    </tr>

                    <tr th:each="orders : ${orders}">
                        <td th:text="${orders.ordersID}"></td>
                        <td th:text="${orders.orderDate}"></td>
                        <td th:text="${orders.processedDate}"></td>
                        <td th:text="${orders.totalPrice}"></td>
                        <td th:text="${orders.client.clientID}"></td>
                        <td><a th:href="${'/orderdetail/add/' + orders.ordersID}">Add</a></td>
                        <td><a th:href="${'/order/' + orders.ordersID}">View</a></td>
                        <td><a th:href="${'/order/remove/' + orders.ordersID}">Delete</a></td>
                    </tr>

                </table>


            </body>
        </html>
