<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <title th:text="${title}">Order</title>
        <meta charset="UTF-8" />
        <link type="text/css" href="css/styles.css" rel="stylesheet" th:href="@{/css/styles.css}"/>
    </head>
    <body>
        <ul>
            <li><a href="/main">Home</a></li>
            <li><a href="/clientclient">Client Information</a></li>
            <li><a href="/clientcheese">Cheeses</a></li>
            <li><a href="/clientaddress">Your Addresses</a></li>
            <li><a href="/clientaccount">Account Information</a></li>
            <li><a href="/clientorder">Orders</a></li>
            <li><a href="/adminmain">Admin</a></li>
            <li style="background:navy;"><a href="/account/add">Add Account</a></li>
            <li style="background:darkgoldenrod;"><a href="/security/login">Login</a></li>
            <li style="background:darkred;"><a th:href="@{/app-logout}">Logout</a></li>
        </ul>
        <h1 th:text="${title}">Default Title</h1>
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
                padding: 5px;
                text-align: left;
            </style>
            <table style="width:80%">

                    <tr>
                        <th>Id</th>
                        <th>Order Date</th>
                        <th>Processed Date</th>
                        <th>Total Price</th>
                        <th>ClientID</th>
                    </tr>
                    <tr th:each="orders : ${order}">
                        <td th:text="${orders.ordersID}"></td>
                        <td th:text="${orders.orderDate}"></td>
                        <td th:text="${orders.processedDate}"></td>
                        <td th:text="${orders.totalPrice}"></td>
                        <td th:text="${orders.client.clientID}"></td>
                    </tr>
                </table>
                <br>
                </br>
                <table style="width:80%">
                    <tr>
                        <th>OrderDetailID</th>
                        <th>Quantity</th>
                        <th>Cheese</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    <tr th:each="orderdetail : ${orderdetails}">
                        <td th:text="${orderdetail.orderDetailID}"></td>
                        <td th:text="${orderdetail.quantity}"></td>
                        <td th:text="${orderdetail.cheese.cheeseName}"></td>
                        <td><a th:href="${'/clientorderdetail/edit/' + orderdetail.orderDetailID}">Edit</a></td>
                        <td><a th:href="${'/clientorderdetail/remove/' + orderdetail.orderDetailID}">Delete</a></td>
                    </tr>
                </table>
            </body>
        </html>
