<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <title th:text="${title}">Your Account</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1 th:text="${title}">Default Title</h1>
        <a href="/clientaccount">Clients</a>
        <a href="/clientcheese">Cheeses</a>
        <a href="/clientaddress">Addresses</a>
        <a href="/clientaccount">Accounts</a>
        <a href="/clientorder">Orders</a><br></br>
        <a href="/clientaccount/add">Add Account</a>

        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
                padding: 5px;
                text-align: left;
            </style>
            <table style="width:80%">

                    <tr>
                        <th>AccountID</th>
                        <th>UserName</th>
                        <th>Password</th>
                        <th>Role</th>
                        <th>Add Client</th>
                        <th>View</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>

                    <tr th:each="account : ${account}">
                         <td th:text="${account.accountID}"></td>
                        <td th:text="${account.username}"></td>
                        <td th:text="${account.password}"></td>
                        <td th:text="${account.theRole}"></td>
                        <td><a th:href="${'/clientclient/add/' + account.accountID}">Add Client</a></td>
                        <td><a th:href="${'/clientaccount/' + account.accountID}">View</a></td>
                        <td><a th:href="${'/clientaccount/edit/' + account.accountID}">Edit</a></td>
                        <td><a th:href="${'/clientaccount/remove/' + account.accountID}">Delete</a></td>
                    </tr>

                </table>


            </body>
        </html>
