<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <title th:text="${title}">Address</title>
        <meta charset="UTF-8" />
        <link type="text/css" href="css/styles.css" rel="stylesheet" th:href="@{/css/styles.css}"/>
    </head>
        <style>
#a1:link, #a1:visited {
    background-color: blue;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
#a1:hover, #a1:active {
    background-color: green;
}
</style>
    <body>
        <ul>
            <li><a href="/main">Home</a></li>
            <li><a href="/clientclient">Client Information</a></li>
            <li><a href="/clientcheese">Cheeses</a></li>
            <li><a href="/clientaddress">Your Addresses</a></li>
            <li><a href="/clientaccount">Account Information</a></li>
            <li><a href="/clientorder">Orders</a></li>
            <li><a href="/adminmain">Admin</a></li>
            <li style="background:navy;"><a href="/account/add">Add Account</a></li>
            <li style="background:darkgoldenrod;"><a href="/security/login">Login</a></li>
            <li style="background:darkred;"><a th:href="@{/app-logout}">Logout</a></li>
        </ul>
        <br></br>
        <a id="a1" href="/clientaddress/add">Add Address</a>

        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
                padding: 5px;
                text-align: left;
            </style>
            <table style="width:80%">

                    <tr>
                        <th>Id</th>
                        <th>HouseNumber</th>
                        <th>HouseNumberAddition</th>
                        <th>Streetname</th>
                        <th>Postal Code</th>
                        <th>City</th>
                        <th>ClientID</th>
                        <th>AddressTypeID</th>
                        <th>View</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>

                    <tr th:each="address : ${addresses}">
                        <td th:text="${address.addressID}"></td>
                        <td th:text="${address.housenumber}"></td>
                        <td th:text="${address.houseNumberAddition}"></td>
                        <td th:text="${address.streetname}"></td>
                        <td th:text="${address.postalCode}"></td>
                        <td th:text="${address.city}"></td>
                        <td th:text="${address.client.clientID}"></td>
                        <td th:text="${address.addresstype.addressTypeID}"></td>
                        <td><a th:href="${'/clientaddress/' + address.addressID}">View</a></td>
                        <td><a th:href="${'/clientaddress/edit/' + address.addressID}">Edit</a></td>
                        <td><a th:href="${'/clientaddress/remove/' + address.addressID}">Delete</a></td>
                    </tr>

                </table>


            </body>
        </html>
