<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <title th:text="${title}">Title</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1 th:text="${title}">Default Title</h1>

        <form method="POST" th:object="${address}">
            <input type="hidden" th:field="*{addressID}"/>
            <table>
                <tr>
                    <td>Housenumber</td>
                    <td><input type="text" th:field="*{housenumber}" /></td>
                    <td th:if="${#fields.hasErrors('housenumber')}" th:errors="*{housenumber}">Housenumber Error</td>
                </tr>
                <tr>
                    <td>Housenumber Addition</td>
                    <td><input type="text" th:field="*{houseNumberAddition}" /></td>
                </tr>
                <tr>
                    <td>Streetname</td>
                    <td><input type="text" th:field="*{streetname}" /></td>
                    <td th:if="${#fields.hasErrors('streetname')}" th:errors="*{streetname}">Streetname Error</td>
                </tr>
                <tr>
                    <td>Postal Code</td>
                    <td><input type="text" th:field="*{postalCode}" /></td>
                    <td th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}">Postal Code Error</td>
                </tr>
                <tr>
                    <td>City</td>
                    <td><input type="text" th:field="*{city}" /></td>
                    <td th:if="${#fields.hasErrors('city')}" th:errors="*{city}">City Error</td>
                </tr>
                <tr>
                    <td>Your ClientID</td>
                    <td>
                        <select name="clientID">
                            <option th:each="client : ${clients}"
                                    th:text="${client.clientID}"
                                    th:value="${client.clientID}"></option>
                        </select>   
                    </td>
                </tr>
                 <tr>
                    <td>AddressType</td>
                    <td>
                        <select name="addressTypeID">
                            <option th:each="addresstype : ${addresstypes}"
                                    th:text="${addresstype.addressTypeName}"
                                    th:value="${addresstype.addressTypeID}"></option>
                        </select>   
                    </td>
                </tr>
                <tr>
                    <td><button type="submit">Submit</button></td>
                    <td><button type="reset">Reset</button></td>
                </tr>
            </table>
        </form>
        <button onclick="goBack()">Go Back</button>
        <script>
            function goBack() {
                window.history.back();
            }
        </script>
    </body>
</html>


