<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <title th:text="${title}">Title</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1 th:text="${title}">Default Title</h1>
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
                padding: 5px;
                text-align: left;
            </style>

            <table style="width:80%">

                   <tr>
                        <th>Id</th>
                        <th>HouseNumber</th>
                        <th>HouseNumber Addition</th>
                        <th>Streetname</th>
                        <th>Postal Code</th>
                        <th>City</th>
                        <th>ClientID</th>
                        <th>AddresType</th>
                    </tr>
                    <tr th:each="address : ${address}">
                        <td th:text="${address.addressID}"></td>
                        <td th:text="${address.housenumber}"></td>
                        <td th:text="${address.houseNumberAddition}"></td>
                        <td th:text="${address.streetname}"></td>
                        <td th:text="${address.postalCode}"></td>
                        <td th:text="${address.city}"></td>
                        <td th:text="${address.client.clientID}"></td>
                        <td th:text="${address.addresstype.addressTypeName}"></td>
                    </tr>
                </table>
                <form method="POST">
                    <p>Are you sure you want to delete this Address?</p>
                    <button type="submit">Submit</button>
                </form>
                <button onclick="goBack()">Go Back</button>
                <script>
                    function goBack() {
                        window.history.back();
                    }
                </script>

            </body>
        </html>