<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <title th:text="${title}">Title</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1 th:text="${title}">Default Title</h1>

        <form method="post" th:object="${addresstype}">
            <table>
                <tr>
                    <td>AddressType</td>
                    <td><input type="text" maxlength="15"  required="required" th:field="*{addressTypeName}"/></td>
                </tr>
                <tr>
                    <td><button type="submit">Submit</button></td>
                    <td><button type="reset">Reset</button></td>
                </tr>
            </table>
        </form>
        <br>
        </br>

        <button onclick="goBack()">Go Back</button>
        <script>
            function goBack() {
                window.history.back();
            }
        </script>
    </body>
</html>